form{
  padding: 40px 100px;
  max-width: 80%;
  min-width: 60%;
  margin: 0 auto;
  align-content: center;

}

label{
  float: left;
  font-size: 20px;
  color: $warm-gray;
  font-weight: 700;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}


.dropdown{
  display: block;
  clear:both;
  margin-top: 40px;
  margin-left: 10px;
  border: 2px solid $keyboard-gray;
  width: 90%;
}

select#source-language{
  border: 1px solid $keyboard-gray;
}
select#target-language{
  border: 1px solid $keyboard-gray;
}

.language-setting{
  float:right;
  margin-top: 30px;
}

textarea{
  display:block;
  width: 460px;
  border-radius: 4px;
  padding: 0px;
  min-height: 80px;
}
textarea#translation{
  border: 2px solid $bridge-orange;
}

textarea#annotation{
  border: 2px solid $light-bridge-orange;
  background: $light-bridge-orange;
}
