form{
  padding: 40px 100px;
  border: 1px solid pink;
  max-width: 90%;
  min-width: 70%;
  margin: 0 auto;
  align-content: center;

}

label{
  float: left;
  border: 1px solid red;
  font-size: 20px;
  color: $warm-gray;
  font-weight: 700;
  margin-left: 500px;
}


.dropdown{
  display: block;
  clear:both;
  margin-top: 40px;
  margin-left: 10px;
  border: 2px solid $keyboard-gray;
  width: 80%;
}
