---
title: bridge extension testing
layout: "default"
---
<div class="back-bar">
  <a href="javascript:history.back()"><img src="images/backbutton.svg">Back</a>
</div>

<div class="textured">
  <h3 class="choose">What would you like to do with this post?</h3>
  <div class="column button-column">
    <a href="save-to.html" class="btn btn-large">Save to existing project for translation</a>
    <a href="translate.html" class="btn btn-large">Translate this post and add it to a project</a>
  </div>
</div>
