---
title: bridge extension testing
layout: "default"
---
<div class="back-bar">
  <a href="javascript:history.back()"><img src="images/backbutton.svg">Back</a>
</div>

<div class="textured">
  <div class="header-general">
    <img src="images/confirmation-translated.svg">


    <h1>Success! Thank you!</h1>
    <h2>See your translation at</h2>
    <a href="project-name" class="plain-link">speakbridge.io/link/link</a>
  </div>
</div>
