---
title: bridge extension testing
layout: "default"
---
<div class="back-bar">
  <a href="javascript:history.back()"><img src="images/backbutton.svg">Back</a>
</div>

<div class="textured">
  <div class="column">
    <img src="images/error-unassigned.svg" class="unassigned">
    <div class="main-message">
    <h3 class="error">Oops! Looks like you’re not assigned to a project yet. Please email us <a class="btn" href="mailto:hello@speakbridge.io?Subject=Assign%20me%20to%20a%20project%20please"target="_blank">hello@speakbridge.io</a>to be assigned to a project. </h3>
    </div>
  </div>
</div>
