---
title: bridge extension testing
layout: "default"
---


<p>Open window, test size</p>
<ul>
<li><a href="extension-login.html" class="popupwindow" rel="height:600,width:700">Login flow</a> - width 700, height 600</li>
<li><a href="error-unassigned-project.html" class="popupwindow" rel="height:600,width:700">Error-Unassigned project</a><?li>
<li><a href="error-general-not-found.html" class="popupwindow" rel="height:600,width:700">Error state- general</a></li>
</ul>
